@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

body,
html {
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  font-family: Poppins;
  font-size: 18px;
/*  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  height: 100%;
}

#container {
  font-family: Source Code Pro;
  padding-left: 23rem;
  padding-top: 5rem;
}

.input-el {
  font-family: Poppins;
  color: black;
  background: transparent;
  border-radius: 10px;
  height: 2rem;
  padding-top: 0.5rem;
  font-size: 19px;
  transition: 1s;
}

.input-el:hover {
  border-color: #42e222;
  transition: 1s;
}
.input-el:active {
  color: red;
}

.theme-btn {
  font-family: Poppins;
  width: 100px;
  height: 50px;
  border-color: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  border-radius: 10px;
  transition: 1s;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  padding-top:0.5rem;
  text-align: center;
}

.theme-btn:hover {
  box-shadow: 4.6px 9.1px 9.1px hsl(1deg 0% 5% / 0.3);
  transition: 0.9s;
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
  color: white;
}
.theme-btn:active {
  color: red;
}
.todo-btn {
  font-family: Poppins;
  width: 100px;
  height: 50px;
  border-color: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  border-radius: 10px;
  transition: 1s;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  padding-top: 0.5rem;
  text-align: center;
}

.delete-btn {
  font-family: Poppins;
  width: 100px;
  height: 50px;
  border-color: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  padding-top: 0.5rem;
  text-align: center;
  transition: 2s;
}

.delete-btn:hover {
  box-shadow: 4.6px 9.1px 9.1px hsl(1deg 0% 5% / 0.3);
  transition: 0.9s;
  background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
  color: white;
}

.todo {
/*   color: transparent; */
/*   -webkit-background-clip: text; */
/*   background-clip: text; */
/*   background-image: url('images\ \(6\).jpeg'); */
  font-size: 19px;
  padding-top: 30px;
  transition: .9s;
}

.todo:hover {
    color: transparent;
 -webkit-background-clip: text; 
   background-clip: text; 
  background-image: url('download\ \(11\).jpeg');
  font-size: 19.5px; border;
  transition: 1s;
}

.todo-btn:hover {
  box-shadow: 4.6px 9.1px 9.1px hsl(1deg 0% 5% / 0.3);
  transition: 1s;
  background-image: linear-gradient(120deg, #aa8c28 0%, #fda085 100%);
  color: black;
}

#body {
    height: 100%;
}